body {
  font-family: "Montserrat", sans-serif;
}

body.active {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  margin-bottom: 40px;
}
.title h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.title h1::before {
  content: "";
  display: block;
  background-color: #6e2fa1;
  height: 2px;
  width: 63px;
  margin: 0 auto;
  margin-bottom: 30px;
}

a.default-btn {
  padding: 16px 40px;
  font-size: 14px;
  line-height: 24px;
  background-color: #6e2fa1;
  color: white;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: bold;
}
a.default-btn:hover {
  background-color: black;
}

#top {
  background-color: #272727;
  padding: 6px 0;
  color: white;
}
#top ul.info li {
  margin: 0 12px;
}
#top ul.info li a {
  color: white;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
#top ul.info li a i {
  margin-right: 5px;
  font-size: 20px;
  color: #6e2fa1;
}
#top ul.info li a:hover {
  color: #c897f0;
}

#top ul.social-icons li, #small-screens ul.social-icons li {
  margin: 0 5px;
}
#top ul.social-icons li a, #small-screens ul.social-icons li a {
  padding: 4px;
  display: block;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}
#top ul.social-icons li a:hover, #small-screens ul.social-icons li a:hover {
  color: #c897f0;
}

#large-screens {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0) 100%);
  padding: 30px 0;
  transition: all 0.3s ease;
}
#large-screens .menu li a {
  display: block;
  padding: 12px;
  color: white;
  transition: all 0.3s ease;
}
#large-screens .menu li a:hover {
  color: #c897f0;
}
#large-screens .menu li a.active {
  color: #c897f0;
}

#large-screens.active {
  position: fixed;
  top: 0;
  background: #272727;
  box-shadow: 0 2px 12px rgba(136, 136, 136, 0.1);
  padding: 10px 0;
}

#small-screens {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #272727;
  padding: 10px 0;
}
#small-screens .open-menu {
  color: white;
  font-size: 24px;
  position: relative;
}
#small-screens .open-menu i {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
#small-screens .open-menu i:last-child {
  position: absolute;
  right: 0;
  top: 0;
}
#small-screens .open-menu i.active {
  visibility: visible;
  opacity: 1;
}
#small-screens nav {
  position: absolute;
  top: 56px;
  right: -300px;
  height: calc(100vh - 56px);
  background-color: #272727;
  width: 250px;
  transition: all 0.3s ease;
}
#small-screens nav ul.menu li {
  margin: 8px 0;
}
#small-screens nav ul.menu li a {
  color: white;
  transition: all 0.3s ease;
  padding: 10px 20px;
  display: block;
}
#small-screens nav ul.menu li a:hover {
  background-color: #6e2fa1;
}
#small-screens nav ul.menu li a.active {
  background-color: #6e2fa1;
}
#small-screens nav.active {
  right: 0;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

#slider {
  position: relative;
  overflow: hidden;
}
#slider .item {
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
#slider .item .content {
  color: white;
  text-align: center;
}
#slider .item .content h1 {
  font-size: 110px;
  position: relative;
}
#slider .item .content h1::before {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #6e2fa1;
}
#slider .item .content h4 {
  font-size: 25px;
}
#slider .item .content h1,
#slider .item .content h4 {
  font-weight: bold;
}
#slider .item .content a.default-btn {
  margin-top: 80px;
}
#slider .owl-nav {
  height: 0;
}
#slider .owl-nav button {
  position: absolute;
  font-size: 100px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 100px;
  height: 100px;
  opacity: 0.6;
  transition: all 0.3s ease;
}
#slider .owl-nav button span {
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
}
#slider .owl-nav button:hover {
  opacity: 1;
}
#slider .owl-nav button.owl-prev {
  left: -200px;
}
#slider .owl-nav button.owl-next {
  right: -200px;
}
#slider .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
}
#slider .owl-dots button {
  width: 14px;
  height: 14px;
  background-color: rgba(119, 119, 119, 0.8);
  transition: all 0.3s ease;
  border-radius: 100%;
  margin: 0 10px;
}
#slider .owl-dots button:hover {
  background-color: white;
}
#slider .owl-dots button.active {
  background-color: white;
}
#slider:hover button.owl-prev {
  left: 0;
}
#slider:hover button.owl-next {
  right: 0;
}

#services {
  padding-top: 60px;
  padding-bottom: 30px;
}
#services .category .item {
  margin-bottom: 30px;
}
#services .category .item .icon {
  position: relative;
  background-color: #6e2fa1;
  height: 105px;
  width: 105px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#services .category .item .icon img {
  width: 45px;
  height: 45px;
  z-index: 2;
}
#services .category .item .icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  transition: 0.3s;
  transform: translateX(-100%);
  border-radius: 50%;
  background: #272727;
  z-index: 1;
}
#services .category .item .content {
  width: calc(100% - 125px);
  margin-left: 20px;
}
#services .category .item .content a {
  transition: all 0.3s ease;
  font-size: 24px;
}
#services .category .item .content p {
  color: #888;
  margin-top: 15px;
  margin-bottom: 0;
}
#services .category .item:hover .icon::after {
  transform: translateX(0);
}
#services .category .item:hover a {
  color: #6e2fa1;
}

#about-home {
  padding: 60px 0;
  background-color: #f8f8f8;
}
#about-home .content h1::before {
  margin: 0;
  margin-bottom: 35px;
}
#about-home .content h4 {
  color: black;
  font-size: 20px;
}
#about-home .content p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #888;
}

#projects-home .item {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
#projects-home .item .content {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;
  padding: 15px;
}
#projects-home .item .content h2 {
  font-weight: bold;
  margin: 0;
}
#projects-home .item .content p {
  margin-top: 10px;
  margin-bottom: 20px;
}
#projects-home .item .content a {
  border-bottom: 1px solid white;
  color: white;
  font-size: 14px;
  transition: all 0.3s ease;
}
#projects-home .item .content a:hover {
  color: #c897f0;
  border-color: transparent;
}
#projects-home .item .image-wrapper img {
  width: 100%;
  height: auto;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects-home .item .image-wrapper .overlay {
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6117647059);
  display: none;
}
#projects-home .item .front, #projects-home .item .back {
  overflow: visible;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #333;
}
#projects-home .item .front {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
}
#projects-home .item .front img {
  opacity: 0.4;
}
#projects-home .item .back {
  transform: rotateY(180deg);
}
#projects-home .item .back img {
  opacity: 0.05;
}
#projects-home .item:hover .front {
  transform: rotateY(-180deg);
}
#projects-home .item:hover .back {
  transform: rotateY(0deg);
}

#news-home {
  padding-top: 60px;
  padding-bottom: 40px;
}
#news-home .item {
  margin-bottom: 20px;
}
#news-home .item .img-container {
  margin-bottom: 20px;
}
#news-home .item .img-container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#news-home .item .content a.headline {
  font-size: 18px;
  color: black;
  transition: all 0.3s ease;
}
#news-home .item .content a.headline:hover {
  color: #6e2fa1;
}
#news-home .item .content .group a.time {
  color: #6e2fa1;
  font-size: 14px;
  transition: all 0.3s ease;
  font-style: italic;
}
#news-home .item .content .group a.time:hover {
  color: #888;
}
#news-home .item .content p {
  font-size: 16px;
  color: #888;
  margin: 15px 0;
}

@media (max-width: 1199.98px) {
  #news .content .item a.headline {
    font-size: 20px;
  }
  #news .content .item p {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  #news .content .content-container3 {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  #news .content .content-container2 {
    margin: 30px 0 30px 0;
  }
}
@media (max-width: 575.98px) {
  #news .title h4 {
    font-size: 21px;
  }
  #news .content .item a.headline {
    font-size: 16px;
  }
  #news .content .item .group a.time {
    font-size: 13px;
  }
  #news .content .item .group a.name {
    font-size: 13px;
  }
  #news .content .item p {
    font-size: 14px;
  }
}
footer {
  padding: 60px 0;
  background-color: #333;
  color: #888;
}
footer h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 0;
}
footer .logo p {
  margin-bottom: 0;
  margin-top: 28px;
}
footer ul {
  margin-top: 22px;
}
footer ul li {
  margin-top: 11px;
}
footer .menu a, footer .contact a {
  color: #c897f0;
  transition: all 0.3s ease;
}
footer .menu a:hover, footer .contact a:hover {
  color: white;
}
footer .news p {
  margin: 0;
  font-size: 14px;
  color: #888;
  font-style: italic;
}
footer .news a {
  color: white;
  transition: all 0.3s ease;
}
footer .news a:hover {
  color: #c897f0;
}
footer ul.social-icons li {
  margin: 0 5px;
}
footer ul.social-icons li a {
  padding: 4px;
  display: block;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}
footer ul.social-icons li a:hover {
  color: #c897f0;
}

#bottom {
  padding: 20px 0;
  font-size: 14px;
  background-color: #272727;
  color: #888;
}
#bottom a {
  display: inline-block;
  transform: translateY(2px);
  font-size: 16px;
  color: white;
  transition: all 0.3s ease;
}
#bottom a .orange {
  color: #f5874f;
}
#bottom a .purple {
  color: #a53692;
}
#bottom a:hover {
  transform: translateY(2px) scale(1.1);
}

@media (min-width: 1400px) {
  #projects-home .item {
    height: 264px;
  }
}
@media (max-width: 1399.98px) {
  #projects-home .item {
    height: 225px;
  }
  #services .category .item .icon {
    width: 85px;
    height: 85px;
  }
  #services .category .item .content {
    width: calc(100% - 105px);
  }
}
@media (max-width: 1199.98px) {
  #projects-home .item {
    height: 248px;
  }
  #services .category .item .content a {
    font-size: 20px;
  }
  footer .logo p {
    font-size: 14px;
  }
  footer ul {
    font-size: 14px;
  }
  footer .news p {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  #projects-home .item {
    height: 248px;
  }
  #projects-home .item .front {
    transform: rotateY(-180deg);
  }
  #projects-home .item .back {
    transform: rotateY(0deg);
  }
  #projects-home .item .back img {
    opacity: 0.4;
  }
  #slider .item .content h1 {
    font-size: 56px;
  }
  #slider .item {
    height: 600px;
  }
  #services .category .item .icon {
    width: 75px;
    height: 75px;
  }
  #services .category .item .content {
    width: calc(100% - 95px);
  }
  #services .category .item .icon img {
    width: 32px;
    height: 32px;
  }
  #services .category .item .content p {
    font-size: 16px;
  }
  #services .category .item .content a {
    font-size: 18px;
  }
  #about-home .title {
    margin-bottom: 30px;
  }
  #about-home .content p {
    margin-bottom: 20px;
  }
  #slider {
    margin-top: 56px;
  }
}
@media (max-width: 767.98px) {
  .title h4::before {
    margin-bottom: 10px;
  }
  #slider .item .content h1 {
    font-size: 30px;
  }
  #slider .item .content h4 {
    font-size: 18px;
  }
  #slider .item {
    height: 400px;
  }
  #services .category .item {
    justify-content: center;
  }
  #services .category .item .content {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 10px;
  }
  #services .category .item .content a {
    font-size: 16px;
  }
  #services .category .item .content p {
    font-size: 14px;
    margin-top: 0px;
  }
  #services {
    padding-top: 30px;
    padding-bottom: 0;
  }
  #about-home .content h4 {
    font-size: 18px;
  }
  #news-home .item .content a.headline {
    font-size: 16px;
  }
  #news-home .item .content .group a.time {
    font-size: 12px;
  }
  #news-home .item .content p {
    font-size: 14px;
  }
  a.default-btn {
    padding: 10px 40px;
    font-size: 12px;
  }
  #slider .owl-dots {
    bottom: 30px;
  }
  #slider .owl-nav button {
    width: 30px;
  }
}
@media (max-width: 575.98px) {
  #projects-home .item {
    height: 280px;
  }
  #about-home .content h4 {
    font-size: 14px;
  }
  #about-home .content p {
    font-size: 13px;
  }
  #about-home {
    padding: 30px 0;
  }
  .title h1::before, #about-home .content h1::before {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 30px;
  }
  #news-home {
    padding-bottom: 10px;
    padding-top: 30px;
  }
  footer {
    padding: 30px 0;
  }
}