$mainColor: #6e2fa1;
$hoverMainColor: #c897f0;
body{ 
    font-family: 'Montserrat', sans-serif;
}
body.active {
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.title{
    margin-bottom: 40px;
    h1{
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        &::before {
            content: '';
            display: block;
            background-color: $mainColor;
            height: 2px;
            width: 63px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
}

a.default-btn {
    padding: 16px 40px;
    font-size: 14px;
    line-height: 24px;
    background-color: $mainColor;
    color: white;
    display: inline-block;
    transition: all .3s ease;
    font-weight: bold;

    &:hover {
        background-color: black;
    }
}

@import "_header";
@import "_slider";
@import "_services";
@import "_about-home";
@import "_projects-home";
@import "_news-home";
@import "_footer";

@media (min-width: 1400px) {
    #projects-home .item {
        height: 264px;
    }
}

@media (max-width: 1399.98px) { 
    #projects-home .item {
        height: 225px;
    }
    #services .category .item .icon{
        width: 85px;
        height: 85px;
    }
    #services .category .item .content {
        width: calc(100% - 105px);
    }
}

@media (max-width: 1199.98px) {
    #projects-home .item {
        height: 248px;
    }
    #services .category .item .content a{
        font-size: 20px;
    }
    footer .logo p {
        font-size: 14px;
    }
    footer ul {
        font-size: 14px;
    }
    footer .news p {
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {
    #projects-home .item {
        height: 248px;
    }
    #projects-home .item .front {
        transform: rotateY(-180deg);
    }
    #projects-home .item .back {
        transform: rotateY(0deg);
    }
    #projects-home .item .back img {
        opacity: .4;
    }
    #slider .item .content h1{
        font-size: 56px;
    }
    #slider .item {
        height: 600px;
    }
    #services .category .item .icon{
        width: 75px;
        height: 75px;
    }
    #services .category .item .content {
        width: calc(100% - 95px);
    }
    #services .category .item .icon img{
        width: 32px;
        height: 32px;
    }
    #services .category .item .content p{
        font-size: 16px;
    }
    #services .category .item .content a{
        font-size: 18px;
    }

    #about-home .title {
        margin-bottom: 30px;
    }
    
    #about-home .content p {
        margin-bottom: 20px;
    }
    #slider {
        margin-top: 56px;
    }
}

@media (max-width: 767.98px) {
    .title h4::before {
        margin-bottom: 10px;
    }
    #slider .item .content h1{
        font-size: 30px;
    }
    #slider .item .content h4 {
        font-size: 18px;
    }
    #slider .item {
        height: 400px;
    }
    #services .category .item {
        justify-content: center;
    }
    #services .category .item .content{
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 10px;
    }
    #services .category .item .content a{
        font-size: 16px;
    }
    #services .category .item .content p{
        font-size: 14px;
        margin-top: 0px;
    }
    #services {
        padding-top: 30px;
        padding-bottom: 0;
    }
    
    #about-home .content h4 {
        font-size: 18px;
    }
    #news-home .item .content a.headline{
        font-size: 16px;
    }
    #news-home .item .content .group a.time {
        font-size: 12px;
    }
    #news-home .item .content p {
        font-size: 14px;
    }
    a.default-btn {
        padding: 10px 40px;
        font-size: 12px;
    }
    #slider .owl-dots {
        bottom: 30px;
    }

    #slider .owl-nav button {
        width: 30px;
    }
}

@media (max-width: 575.98px) {
    #projects-home .item {
        height: 280px;
    }

    #about-home .content h4 {
        font-size: 14px;
    }

    #about-home .content p {
        font-size: 13px;
    }

    #about-home{
        padding: 30px 0;
    }

    .title h1::before, #about-home .content h1::before {
        margin-bottom: 20px;
    }
    .title {
        margin-bottom: 30px;
    }

    #news-home {
        padding-bottom: 10px;
        padding-top: 30px;
    }
    
    footer{
        padding: 30px 0;
    }

}